<h1  ng-init=" $root.title='{% trans %}file.list{% endtrans %}' ">{% trans %}file.list{% endtrans %}</h1>

<div ng-show="loading">
    Loading
</div>
<div  ng-hide="loading">  
    <ul  >
        <li ng-repeat="item in list">      
              <a href="#file/{{"{{item.id}}"}}">  {{"{{item.name}}"}}   <img style="width:25px;" ng-src="{{"{{item.absolute_path}}"}}" /></a>
            <div  ng-click="remove($index,item)">X</div>
        </li>
    </ul>
</div>