{# This is an extension of Twig Form Theme #}
{# We redefine form elements, so they are binded with Angular model #}


{% extends "form_div_layout.html.twig" %}


    {% block optionType_widget %}
        
 
                <select  {{ block('widget_attributes') }} multiple  children-option="id as name in {{ngList}} track by children" multiple>
               
           
                   </select>
            
{% endblock %}

{%- block form_row -%}

    <div > 
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
     
        {% for validator in form.constraints|keys %}
           {% set formName =  form.vars["form_name"]%}
           {% set constraints = form.constraints[validator]%}
    
         
           <div ng-show="{{formName}}.$submitted && {{formName}}['{{ full_name }}'].$pending.required || {{formName}}['{{ full_name }}'].$touched">
       
            {% if  validator=="Image" %}
                     {% set constraint = constraints[0]%}
                         <span ng-show="{{formName}}['{{ full_name }}'].$error.maxsize">{{ constraint.maxSizeMessage}}</span>
                         <span ng-show="{{formName}}['{{ full_name }}'].$error.mimeTypes">     {{ constraint.mimeTypesMessage}}</span>
           {% endif %}
               
               
           {% if  validator=="NotBlank" %}
                     {% set constraint = constraints[0]%}
                           <span ng-show="{{formName}}['{{ full_name }}'].$error.required">{{constraint.message }}</span>
           {% endif %}
          
           {% if  validator=="Length" %}
                     {% set constraint = constraints[0]%}  
                   <span ng-show="{{formName}}['{{ full_name }}'].$error.minlength">{{constraint.minMessage  }}</span>
                   <span ng-show="{{formName}}['{{ full_name }}'].$error.maxlength">{{constraint.maxMessage }}</span>
           {% endif %}
              
         
           {% if  validator=="Regex" %}
                     {% for constraint in constraints %}
                           <span ng-show="{{formName}}['{{ full_name }}'].$error.regex{{loop.index-1}}">{{constraint.message }}</span>
                     {% endfor%}
                
            {% endif %}
            
            {% if  validator=="Match" %}
                  {% set constraint = constraints[0]%}
                          {% set constraintNgModel =constraint.match["attr"]["ng-model"] %} 
                          {% set constraintFullName = constraint.match.full_name%}
                       <span ng-show="{{formName}}['{{ full_name }}'].$error.match && {{formName}}['{{constraintFullName}}'].$valid || {{formName}}['{{ full_name }}'].$error.required &&  {{formName}}['{{ constraintFullName }}'].$valid ">{{ constraint.message }}</span>   
         {% endif %}
           </div>
        {% endfor %}
    </div>
{%- endblock form_row -%}


{%- block form_start -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form name="{{ name }}" 
        
           {#ngClick  TO DO #}
            ng-submit="submit($event)" 
            {#novalidate#}
          method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{%- endblock form_start -%}

